<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <contextName>efadmin</contextName>
    <!--引入默认的一些设置-->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="log.charset" value="utf-8"/>
    <property name="log.pattern"
              value="%black(%contextName-) %red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{36}) - %gray(%msg%n)"/>
    <property name="log.path" value="logs"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${log.charset}</charset>
        </encoder>
    </appender>

    <!-- 输出到Log file 文件 -->
    <appender name="logFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/efadmin.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM, aux}/efadmin.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date [%thread] %-5level [%logger{50}] %file:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--异步到文件-->
    <appender name="asyncFileAppender" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>500</queueSize>
        <appender-ref ref="logFile"/>
    </appender>

    <!-- 开发环境-->
    <springProfile name="dev">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="org.springboot.sample" level="INFO"/>
        <logger name="vip.efactory" level="DEBUG"/>

        <!--监控sql日志输出 -->
        <logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.resultset" level="ERROR" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <!--  如想看到表格数据，将OFF改为INFO  -->
        <logger name="jdbc.resultsettable" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.connection" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.sqltiming" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <logger name="jdbc.audit" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <!--普通日志输出到控制台-->
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="logFile"/>
        </root>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="org.springboot.sample" level="WARN"/>
        <logger name="vip.efactory" level="WARN"/>

        <!--监控sql日志输出 -->
        <logger name="jdbc.sqlonly" level="WARN" additivity="false">
            <appender-ref ref="logFile"/>
        </logger>

        <logger name="jdbc.resultset" level="WARN" additivity="false">
            <appender-ref ref="logFile"/>
        </logger>

        <root level="warn">
            <appender-ref ref="logFile"/>
        </root>
    </springProfile>

</configuration>
